<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Langan värit</title>

</head>
<body>
	<h1>Langan värit</h1>
			<a class="btn btn-info" href="/index">Etusivulle</a>
			
	
	<table class="table table-striped">
		<tr>
			<th>Valmistaja</th>
			<th>Lanka</th>
			<th>Väri</th>
			<th>Varastomäärä grammoina</th>	
			<th></th>
			<th></th>
		</tr>
	
		<tr th:each="vari : ${varit}">
			<td th:text="${vari.lanka.merkki}"></td>
			<td th:text="${vari.lanka.malli}"></td>
			<td th:text="${vari.savy}"></td>
			<td th:text="${vari.maara}"></td>
			<td><a class="btn btn-outline-info" th:href="@{/muokkaaVaria/{id}(id=${vari.id})}">Muokkaa</a></td>
			<td><a class="btn btn-outline-danger" th:href="@{/poistaVari/{id}(id=${vari.id})}">Poista</a></td>
			
		</tr>
	</table>
	
	<a class="btn btn-info" href="/lisaaVari">Lisää langalle uusi väri</a>
	<a class="btn btn-warning" href="/varilista">Näytä kaikkien värien tiedot</a>
	
	
		
</body>
</html>