<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Langat</title>
</head>

<body>
	<h1>Langat</h1>
	
	<a class="btn btn-info" href="/">Etusivulle</a>
	<a class="btn btn-success" href="/ohjelista">Ohjeet</a>
			
	<table class="table table-striped">
		<tr>
			<th>Valmistaja</th>
			<th>Lanka</th>
			<th>Koostumus</th>
			<th>Painoluokitus</th>
			<th>Neuletiheys</th>
			<th>Puikko- tai virkkuukoukkusuositus</th>
			<th>Kerän paino /g</th>
			<th>Langan pituus/m</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	
		<tr th:each="lanka : ${langat}">
			<td th:text="${lanka.merkki}"></td>
			<td th:text="${lanka.malli}"></td> 
			<td th:text="${lanka.koostumus}"></td>
			<td th:text="${lanka.luokittelu}"></td>
			<td th:text="${lanka.neuletiheys}"></td>
			<td th:text="${lanka.suositus}"></td>
			<td th:text="${lanka.paino}"></td>
			<td th:text="${lanka.pituus}"></td>
			<td><a class="btn btn-outline-warning" href="@{/langanVarit/{id}(id=${vari.id})}">Näytä värit</a></td>

			<td><a class="btn btn-outline-info" th:href="@{/muokkaaLankaa/{id}(id=${lanka.id})}">Muokkaa</a></td>
			<td><a class="btn btn-outline-danger" th:href="@{/poistaLanka/{id}(id=${lanka.id})}">Poista</a></td>
			
		</tr>
	</table>	
			
	<a class="btn btn-success" href="/lisaaLanka">Lisää uusi lanka</a>
	<a class="btn btn-info" href="/lisaaVari">Lisää langalle uusi väri</a>
	
</body>
</html>