<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<meta charset="UTF-8">
<title>Kirjaudu sisään</title>
</head>
<body>
	<h1>Kirjaudu sisään</h1>
	
	<form th:action="@{/login}" method="post">
		<div>
			<label>Käyttäjä:</label>
			<input type="text" 
				autocomplete="off"
				placeholder=" " 
				name="username"/> 
				
		<div>
		<label>Salasana:</label>
			<input type="password"
				autocomplete="off"
				placeholder=" "
				name="password"
				readonly onfocus="this.removeAttribute('readonly');" />
		</div>
		</div>
				<div class="text" th:if="${param.error}">Käyttäjätunnus tai salasana on väärin</div>

			<input class="btn btn-sm btn-success mt-4 mb-4" type="submit" value="Kirjaudu" />
	
	</form>
</body>
</html>