<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Ohjeet</title>

</head>
<body>
	<h1>Ohjeet</h1>
	
			<a class="btn btn-info" href="/index"{>Etusivulle</a>
			<a class="btn btn-success" href="/lankalista"{>Langat</a>
			<a class="btn btn-warning" href="/varilista"{>Lankojen värit</a>
			
	<table class="table table-striped">
		<tr>
			<th>Suunnittelija</th>
			<th>Mallin nimi</th>
			<th>Lähde</th>
			<th>Tarvittavan langan luokittelu</th>
			<th>Tarvittavan langan varastomäärä</th>
		</tr>
		
		<tr th:each="ohje : ${ohjeet}">
			<td th:text="${ohje.suunnittelija}"></td>
			<td th:text="${ohje.nimi}"></td>
			<td th:text="${ohje.lahde}"></td>	
			<td th:text="${ohje.luokittelu}"></td>
			<td th:text="${ohje.maara}"></td>	
		</tr>
	</table>
	
	<a class="btn btn-success" href="/lisaaOhje"{>Lisää uusi ohje</a>
	
</body>
</html>