<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Värit</title>

</head>
<body>
	<h1>Lankojen värit</h1>
			<a class="btn btn-info" href="/index"{>Etusivulle</a>
			<a class="btn btn-success" href="/lankalista"{>Langat</a>
			<a class="btn btn-warning" href="/ohjelista"{>Ohjeet</a>
			
	
	<table class="table table-striped">
		<tr>
			<th>Valmistaja</th>
			<th>Lanka</th>
			<th>Väri</th>
			<th>Varastomäärä grammoina</th>	
		</tr>
	
		<tr th:each="vari : ${varit}">
			<td th:text="${vari.lanka.merkki}"></td>
			<td th:text="${vari.lanka.malli}"></td>
			<td th:text="${vari.vari}"></td>
			<td th:text="${vari.maara}"></td>
		</tr>
	</table>
	
	<a class="btn btn-success" href="/lisaaVari"{>Lisää langalle uusi väri</a>
		
</body>
</html>